body {
  font-family: 'Quicksand', sans-serif;
  background-color: #CCF4EC;
  font-size: 18px;
  margin-bottom: 40px;
}

section {
  height: 100vh;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

#game {
  padding-top: 30px;
  padding-bottom: 10px;
}
button {
  background-color: #7D9BEA;
  color: white;
  shadow: none;
  border: none;
  border-radius: 15px;
  text-decoration: none;
  padding: 15px 15px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 40px;
}

.instructions {
  color: gray;
}

input {
  height: 35px;
  border: none;
  display: block;
  margin-right:auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.brainTable {
  display: table;
  border-collapse: collapse;
  width: 100%;
}

#logo {
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}


.item {
  display: table-cell;
  vertical-align: top;
}

.item img {
  display: block;
  width: 100%;
  height: auto;
}

.videoDisplay {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.center {
    margin: 0 auto;
    width: 90%;
    padding: 0;
    align-content: center;
}

.hide {
  display: none;
}

.lateral {
  width: 20%;
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #7D9BEA;
}

.middle {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.arrowBtn {
    left: 50%;
    /*margin: -64px 0 0 -64px;*/
    position: absolute;
    top: 80%;
    z-index: 1;
}

.arrowBtn img {
  height: 50px;
  width: 50px;
}

#questionpic {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

#gamequestions {
  text-align: center;
}

.questionhelp {
  color: gray;
  font-size: 90%;

}

.intro {
  text-align: center;
}
